@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body{
    background-color: #1b254a;
    margin:0%;
    /*font-family:Courier, monospace;*/
    font-family: 'PT Serif', serif;
    padding:0%;
    height:100%;
    width:100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #0af;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  animation: drift 2500ms infinite linear;
}

.wave.-two {
  animation: drift 5000ms infinite linear;
  opacity: .1;
  background: yellow;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: ' Brandon Grotesque', serif;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.clickID{
    background-color: #b7adad;
}


.radio-group {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radio-group-label {
  display: block;
  width: 100%;
}

#chooseSite {
  position: relative;
  display: inline-block;
}
#chooseSite input {
  opacity: 0;
  position: absolute;
}
#chooseSite .dropdown{
    width: 60vw;
}
#chooseSite .dropdown-toggle{
    color: white;
    width: 60vw;
}
#chooseSite ul{
    width: 60vw;
}
#chooseSite .inner-label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
}
#chooseSite .inner-label:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
  width: 30px;
  -webkit-transition: border-bottom 0.5s ease;
  transition: border-bottom 0.5s ease;
}
#chooseSite input:focus ~ .inner-label:before {
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}
#chooseSite input:checked ~ .inner-label:after {
  content: '\2713';
  color: #fff;
  position: absolute;
  font-size: 12px;
  left: 12px;
  top: 1px;
}

#currenturl {
  position: relative;
  display: inline-block;
}
#currenturl input {
  opacity: 0;
  position: absolute;
}
#currenturl .dropdown{
    width: 60vw;
}
#currenturl .dropdown-toggle{
    color: white;
    width: 60vw;
}
#currenturl ul{
    width: 60vw;
}
#currenturl .inner-label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
}
#currenturl .inner-label:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
  width: 30px;
  -webkit-transition: border-bottom 0.5s ease;
  transition: border-bottom 0.5s ease;
}
#currenturl input:focus ~ .inner-label:before {
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}
#currenturl input:checked ~ .inner-label:after {
  content: '\2713';
  color: #fff;
  position: absolute;
  font-size: 12px;
  left: 12px;
  top: 1px;
}

#containers {
  position: relative;
  display: inline-block;
}
#containers input {
  opacity: 0;
  position: absolute;
}
#containers .inner-label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
}
#containers .inner-label:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
  width: 30px;
  -webkit-transition: border-bottom 0.5s ease;
  transition: border-bottom 0.5s ease;
}
#containers input:focus ~ .inner-label:before {
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}
#containers input:checked ~ .inner-label:after {
  content: '\2713';
  color: #fff;
  position: absolute;
  font-size: 12px;
  left: 12px;
  top: 1px;
}

.go:click {
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}
.go:hover {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 1);
  color: black;
}
.go {
  margin: 1%;
  color: white;
  display: inline-block;
}
.objs:click {
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}
.objs:hover {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 1);
  color: black;
}
.objs {
  margin: 1%;
  color: white;
}

#uploadPage{
    position: fixed;
    bottom: 3%;
    right: 3%;
}

#uploadPage a{
    color:white;
    font-family: 'Amatic SC', cursive;
}

#uploadPage a:hover{
    color:#b7adad;
}

.textbox {
  position: relative;
  width: 40%;
  color: #fff;
  line-height: 3rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 100;
  overflow: hidden;
}
.textbox::after {
  left: 0;
  right: 0;
  height: 2px;
  background: #666;
  content: '';
  display: block;  
}
.textbox span {
  position: relative;
  display: inline-flex;
  white-space: nowrap;
}
.textbox span::before {
  content: '> \b'
}
.textbox span::after {
  position: absolute;
  bottom: -2px;
  height: 2px;
  background: goldenrod;
  left: 0;
  right: 0;
  content: '';
  display: block;
}
.textbox span:focus {
  outline: none;
}

#add{
  top: 50%;
}
#del{
  top: 50%;
}

#account {
  position: relative;
  display: inline-block;
}
#account input {
  opacity: 0;
  position: absolute;
}
#account .inner-label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
}
#account .inner-label:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
  width: 30px;
  -webkit-transition: border-bottom 0.5s ease;
  transition: border-bottom 0.5s ease;
}
#account input:focus ~ .inner-label:before {
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}
#account input:checked ~ .inner-label:after {
  content: '\2713';
  color: #fff;
  position: absolute;
  font-size: 12px;
  left: 12px;
  top: 1px;
}
